.slideshow-container .slide img {
    width: 100%; /* Ensures images are not larger than their container */
    height: auto; /* Maintains aspect ratio */
    border: 5px solid rgb(27, 55, 13);
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: block;
    margin: 0 auto;
}

.slideshow-container .slide {
    text-align: center;
    margin-bottom: 20px;
    position: relative; /* Needed for proper arrow placement */
    display: flex; /* Ensures arrows are aligned with images */
    justify-content: center; /* Center aligns the images */
    align-items: center; /* Vertically centers the arrows with the image */
}

.slideshow-container {
    position: relative; /* Ensures arrows are positioned relative to the container */
}

.slideshow-container .prev,
.slideshow-container .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    background-color: rgba(0,0,0,0.5);
    z-index: 10; /* Ensures arrows are above the image */
}

.slideshow-container .next {
    right: 20px; /* Position on the right edge */
    border-radius: 3px 0 0 3px;
}

.slideshow-container .prev {
    left: 20px; /* Position on the left edge */
    border-radius: 0 3px 3px 0;
}

/* Hide arrows when not hovered */
.slideshow-container:not(:hover) .prev,
.slideshow-container:not(:hover) .next {
    display: none;
}

/* Media Queries for Responsive Adjustments */
@media (max-width: 768px) {
    .slideshow-container .prev, .slideshow-container .next {
        font-size: 14px; /* Smaller font size */
        padding: 8px; /* Smaller padding */
    }

    .slideshow-container .slide img {
        padding: 5px; /* Less padding around images */
        border-width: 3px; /* Thinner border */
    }

    #events img {
        max-width: 100%; /* Full width within column */
        margin-top: 10px; /* Less margin on the top */
        margin-bottom: 10px; /* Less margin on the bottom */
    }

    #events .col-md-6 {
        padding: 10px; /* Less padding around text and images */
    }
}

@media (max-width: 480px) {
    .slideshow-container .slide img {
        width: 90%; /* Slightly less than full width for margin */
    }

    .slideshow-container .prev, .slideshow-container .next {
        top: 40%; /* Adjusted for better visibility */
    }
}